@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,300&display=swap');

:root {
	--cor0: #100720; /* Preto */
	--cor1: rgba(49, 8, 123, 0.500); /* Azul */
	--cor2: #FA2FB5; /* Rosa */
	--cor3: #FFC23C; /* Amarelo */
	
	--fonte0: 'Anonymous Pro', monospace;
	--fonte1: 'Montserrat', sans-serif;
}

body {
	background-color: var(--cor0);
	min-width: 300px;
	max-height: 1160px;
}

h1 {
	text-align: center;
	font-family: var(--fonte0);
	color: var(--cor3);
}

div.box {
	background-color: var(--cor1);
	border: 1px solid var(--cor2);
	color: var(--cor2);
	padding: 12px;
	margin: 32px;
	border-radius: 12px;
}

p {
	font-size: 18px;
}